php_flag magic_quotes Off  # экранирование строки (функция волшебных кавычек)

AddDefaultCharset utf-8 # Кодировка

DirectoryIndex index.php # входной файл index.php

RewriteEngine on # включить мод rewrite

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*) index.php # перенаправить на файл index.php