php_flag magic_qoutes Off  # экранирование строки (функция волшебных кавычек)

AddDefaultCharset utf-8 # Кодировка

DirectoryIndex index.php # входной файл index.php

RewriteEngine on # включить мод rewrite

RewriteCond %{REQUEST_FILENAME} !-f #Условие
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !favicon.ico

RewriteRule ^(.*) index.php # перенаправить на файл index.php